:root {
    --font-size-lg: 22px;
    --font-size-md: 15px;
    --font-size-sm: 10px;
    --margin-lg: 16px;
    --margin-md: 10px;
    --margin-sm: 8px;
    --font-color-gray: gray;
    font-family: Droid Sans;
}
